@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
    font-family: "Futurot";
        url("../fonts/Futurot.ttf") format("truetype")
    font-weight: normal;
    font-style: normal;
}


html {
	height: 100%;
	font-family: 'Future Rot, Futurot';
}
p {
	color: white;
	font-size: 50px;
	font-weight: bold;
	position: absolute;
}
body {
	position: relative;
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
  	background: #333333;
	text-align: center;
	width: 100%;
    height: 100%;
    margin: 0;
}
#canvas {
	//border: 1px solid #cccccc;
}

#loading {
	position: absolute;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: .4rem solid rgba(255,255,255, 0.2);;
    border-top-color: rgb(255,255,255);
    animation: spin 0.7s infinite linear;
}

